<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/%22%3E">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1> Velkommen til Nordic Motorhome</h1>

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Customer Menu</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/customers">Customer details</a>
        <a href="/customerform">Create customer</a>
        <a href="/motorhomes">Motorhomes</a>
        <a href="/motorhomeform">Add motorhome</a>
    </div>
</div>

</body>
</html>